html{
    scroll-behavior: smooth;
}

body{
    background-color:rgb(35, 35, 51);
    margin:0px;
}

/*見出し*/
.header_layout1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_layout2{
    display:flex;
    flex-direction: row;
    justify-content:center;
    width:100%;
    position:fixed;
    background-color: rgb(7, 7, 7);
}

.item{
    font-size: 30px;
    color:white;
    padding:8px;
    margin: 8px;
    width:100%;
    text-align:center;
    font-family: 'Slabo 27px', serif;
    position:relative;
    display: inline-block;
    text-decoration: none;
}
.item::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.item:hover::after {
    transform: scale(1, 1);
}

/*日付け*/
.day_2{
    display:flex;
    flex-direction: row;
    justify-content:center;
    width:100%;
}

.day_2 a{
    text-decoration: none;
}

.item_day{
    font-size: 20px;
    color:white;
    padding:8px;
    margin: 8px;
    width:100%;
    font-family:sans-serif;
}

.item_day:hover{
    color: rgb(102, 102, 102);
}



.header_layout2 .header_layout1{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}



h2{
    text-align:center;
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
}

.container{
    display: flex;
    flex-wrap:wrap;
    overflow: hidden;
}

main{
    width:90%;
}


p{
    color:white;
}

.aside{
    display: flex;
}

.container1{
    display: flex;
    flex-wrap:wrap;
    margin:100px auto;
    width:60%;
}


.comment,.waku{
    text-align:center;
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family:sans-serif;
    margin:0 auto;
    width:70%

}

.waku{
    width:40%;
}
.comment2{
    color:rgb(255, 255, 255);
    font-size: 15px;
    font-family:sans-serif;
    margin:0 auto;
    text-align:left;
}



.comment2 a{
    color:rgb(128, 128, 128);
}

.waku{
    border: 3px solid;
    border-radius: 10px;
}
.waku_inner{
    margin:20px;
}

.waku_large{
    background-color: rgb(55, 55, 80);
    padding :50px;
}

.item0{
    width: calc(100%/2);
    padding:0 5px;
    box-sizing:border-box;
}

.item0 img{
    max-width: 100%;
    height:auto;
    border:solid 1px;
}


.item1{
    width: calc(100%/3);
    padding:0 5px;
    box-sizing:border-box;
}

.item1 img{
    max-width: 100%;
    height:auto;
    border:solid 1px;
}

/*プロフィール以降*/
.profile{
    text-align:center;
    color:rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Slabo 27px', serif;
    display: flex;
    flex-wrap:wrap;
}
.soft{
    width: calc(100%/3);
    padding:0 5px;
    box-sizing:border-box;
    font-size: 20px;
}
.soft p{
    font-size: 17px;
}

.follow-me{
    text-align: center;
}
.my-skyblue{
    color:rgb(14, 143, 248);
}



a.anchor {
    display: block;
    padding-top: 210px;
    margin-top: -70px;
}